.dialogs{
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogItems {
    padding: 10px;
    color: black;
}

.dialog.active {
    color: red;
}

.messanges {
    padding: 10px;
}

.messange {

}